<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @listing.listing_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @listing.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @listing.availability %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
