<p id="notice"><%= notice %></p>

<p>
  <strong>Posting:</strong>
  <%= @post.posting_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @post.listing_id %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @post.review_id %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @post.date_posted %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
