<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review.review_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @review.listing_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Review content:</strong>
  <%= @review.review_content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
